<!-- below <nav is a nevagation bar, bg-dark means dark theme -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- below a brand text which says" CW's Museum-->
<a class="navbar-brand text-white" >{{"home.title" | translate}}</a>
<!-- below a button for responsiveness-->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<!-- below we divide the nevagation bar and put link of each page-->
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <!-- below is four links with different links that I created-->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <!-- routerLink determines what nevagation it goes to, routerLinkActive actives the action-->
      <a class="nav-link" routerLink="/events" routerLinkActive="active">{{'home.general'| translate}}</a>  <!-- Events is one of the word shows on the bar which link the General Stuff page-->
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/special" routerLinkActive="active">{{'home.special'| translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/storePage" routerLinkActive="active">{{'home.store'| translate}}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" *ngIf="_authService.isAdmin()" routerLink="/admin" routerLinkActive="active">Admin</a>
    </li>
  </ul>
  <ul class="navbar-nav ">
      <a class="nav-link" *ngIf = "!_authService.loggedIn()" routerLink="/login" routerLinkActive="active">{{'home.login'| translate}}</a><!--  *ngIf = "!_authService.loggedIn()" means only show if user loggined is false  -->
      <a class="nav-link" *ngIf = "!_authService.loggedIn()" routerLink="/register" routerLinkActive="active">{{'home.register'| translate}}</a><!-- -->
      <a class="nav-link" style="cursor:pointer" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">{{'home.logout'| translate}}</a> <!-- show a Logout button if user logged in is true -->
      <a class="nav-link" *ngIf="_authService.loggedIn()" routerLink="/cart" routerLinkActive="active">{{'home.cart'| translate}}</a>

  </ul>
  <ul class="navbar-nav " *ngIf="_authService.loggedIn()" >
    <a class="nav-item dropdown nav-link"> 
      <a class="nav-link dropdown-toggle" id="Link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-graduation-cap mr-1"></i>{{'home.user'| translate}}
    </a>
      <div class="dropdown-menu dropdown-primary my-drop-down-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut" aria-labelledby="navbarDropdownMenuLink" name = "Select Language">
          <option class="dropdown-item" href="#" *ngFor = "let item of userProfileInfo" (click)= directToPage(item)>{{item}}</option>
      </div>
    </a>
  </ul>
    <ul class="navbar-nav ">
    <a class="nav-item dropdown nav-link"> 
      <a class="nav-link dropdown-toggle" id="Link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-graduation-cap mr-1"></i>{{'home.select'| translate}}
    </a>
      <div class="dropdown-menu dropdown-primary my-drop-down-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut" aria-labelledby="navbarDropdownMenuLink" name = "Select Language">
        <div  #langselect (change) = "translate.use(langselect.value)">
          <option class="dropdown-item" href="#" *ngFor = "let lang of translate.getLangs()" (click)= changeLanguage(lang)>{{lang}}</option>
        </div>
      </div>
    </a>
  </ul>

</div>

<ul class="navbar-nav mx-auto">
  <!-- Dropdown -->
</ul>


</nav>
<!-- router-outlet is going to render(show) the component in the container class -->
<div class="container">
  <router-outlet></router-outlet>            
</div>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>

