<!-- below <nav is a nevagation bar, bg-dark means dark theme -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- below a brand text which says" eventhub-->
<a class="navbar-brand" href="#">Eventhub</a>
<!-- below a button for responsiveness-->
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<!-- below we divide the nevagation bar and put link of each page-->
<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <!-- below is four links with different links that I created-->
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <!-- routerLink determines what nevagation it goes to, routerLinkActive actives the action-->
      <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>  <!-- Events is one of the word shows on the bar which link the events page-->
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/special" routerLinkActive="active">Members</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/stripePayment" routerLinkActive="active">Store</a>
    </li>
  </ul>
  <ul class="navbar-nav">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
  </ul>
</div>
</nav>
<!-- router-outlet is going to render(show) the component in the container class -->
<div class="container">
  <router-outlet></router-outlet>            
</div>