<div class="row mt-5"><!-- have a row div class with margin top 5 -->
    <div class="col-md-4 mb-3" *ngFor="let event of events"><!-- by default, boostrap have 12 colomn graps, col-md-4 means 4 colomn graps per event layout. in this case, 4/12=3 means 3 events per row -->
        <!-- ngFor means a for loop that will make a event array. "let event of events" means for each event in the events array -->
        <div class="card text-center" ><!--  for each event in the events array, we have the card, you can add body, title, footer anything you like -->
            <div class="card-body"><!--  in this card, we have a title and a text(you can add more if you want to)-->
                <h5 class="card-title">{{event.name}}</h5><!-- title  is the name of the event -->
                <img src="{{event.imageUrl}}" width="200" height="200" class="img-thumbnail">
                <p class ="card-text">{{event.description}}</p><!-- the text is the description of the event -->
                <a class="btn btn-dark text-white"  (click) ="toItemInfo(event._id)" >Take a Look</a><!-- a button says buy tickets -->
                <!--<input id="btntest" class="btn btn-dark" type="button" value="Check" onclick="window.location.href = 'http://www.google.com'" /> -->
            </div>
            <div class="card-footer text-muted"> {{event.date | date:'shortDate'}} </div><!-- in the card footer, is the data. "|" is a filter to formate data to shortdata -->
        </div>
    </div>
</div> 